Package: com.arcazel.haramberespring
Name: Harambe Respring Logo
Version: 1.0
Architecture: iphoneos-arm
Description: A Harambe respring logo for the dankest and spiciest of all memes. Dicks Out For Harambe!
Maintainer: Arcazel <email@address.com>
Author: Arcazel <email@address.com>
Section: Themes